body {
  font-family: sans-serif;
  color: #333;
}

pre {
  padding: 10px;
  background-color: black;
  color: chartreuse;
}

table.tictac {
  border-collapse: collapse;
  border: 5px solid black;
  margin-right: 20px;
}

table.score {
  border-collapse: collapse;
  padding-left: 20px;
}

table.score th {
  padding: 5px;
  border-bottom: 2px solid black;
}

table.score td {
  padding: 5px;
}

table.tictac td {
  border:         5px solid black;
  cursor:         pointer;
  width:          1.3em;
  height:         1.3em;
  text-align:     center;
  vertical-align: middle;
  font:           bold 36px sans-serif
}