;; Copyright (c) Alan Dipert and Micha Niskin. All rights reserved.
;; The use and distribution terms for this software are covered by the
;; Eclipse Public License 1.0 (http://opensource.org/licenses/eclipse-1.0.php)
;; which can be found in the file epl-v10.html at the root of this distribution.
;; By using this software in any fashion, you are agreeing to be bound by
;; the terms of this license.
;; You must not remove this notice, or any other, from this software.

{:project       hoplon-demo-todofrp
 :version       "1.0.0-SNAPSHOT"
 :description   "TodoFRP using hoplon."
 :license       {:name "Eclipse Public License"
                 :url "http://www.eclipse.org/legal/epl-v10.html"}
 :dependencies  [[tailrecursion/boot.core   "1.1.0"]
                 [tailrecursion/boot.task   "1.0.0"]
                 [tailrecursion/hoplon      "4.0.7"]
                 [org.clojure/clojurescript "0.0-1934"]]
 :require-tasks #{[tailrecursion.boot.task   :refer :all]
                  [tailrecursion.hoplon.boot :refer :all]}
 :src-paths     #{"src"}
 :public        "resources/public"
 :tasks         {:dev {:doc "Build Hoplon without prerendering."
                       :main [:hoplon {:prerender false}]}}}
