body {
    font-family: monospace;
}

#container {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

#scroll {
    height: 400px;
    overflow-y: scroll;
}

#loading {
    width: 100%;
    color: white;
    background-color: orange;
}