body {
    font-family: monospace;
}

#container {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

#wrapper {
    position: relative;
}

#loading {
    padding: 10px;
    z-index: 1000;
    color: white;
    background-color: orange;
}

#error {
    padding: 10px;
    z-index: 1000;
    color: white;
    background-color: red;
}

#scroll {
    top: 0px;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}