body {
  margin:       0px;
  padding:      0px;
  font-family:  sans-serif; }

.hidden {
  display:      none; }

.active {
  color:        red; }

.buddy {
  display:      inline-block;
  width:        75px; }

.add-rm-button {
  width:        25px; }

span.from {
  display:      inline-block;
  width:        50px; }

#error {
  position:     fixed;
  z-index:      9999;
  width:        100%;
  padding:      10px;
  text-align:   center;
  color:        white;
  background:   red;
  font-weight:  bold; }

#loading {
  position:     fixed;
  z-index:      99999;
  left:         50%;
  margin-left:  -50px;
  width:        100px;
  padding:      10px;
  text-align:   center;
  color:        white;
  background:   orange;
  font-weight:  bold; }

#buddies {
  width:        200px;
  float:        left; }

#chat {
  width:        500px;
  border:       1px solid blue;
  position:     relative;
  min-height:   400px;
  float:        left; }

#convo {
  position:     absolute;
  width:        100%;
  bottom:       0px;
  left:         0px; }

#convo input {
  position:     absolute;
  display:      inline;
  right:        0px;
  bottom:       0px;
  border:       1px solid #ccc;
  width:        85%; }

#convo label {
  display:      inline-block;
  width:        100px; }

#content {
  width:        960px;
  margin:       0 auto;
  padding-top:  50px; }
