;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[hoplon/hoplon "7.3.3"]
                [aatree/aautil "0.0.4"]
                [binaryage/devtools "1.0.7"]]
 :dev-http {8000 "public"}
 :builds {:app {:target :browser
                :modules {:main {:init-fn demo.lens/init}}
                :devtools {:before-load demo.lens/stop
                           :after-load demo.lens/start}}}}
