;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[hoplon/hoplon "7.3.5"]
                [binaryage/devtools "1.0.7"]]
 :dev-http {8000 "public"}
 :builds {:app {:target :browser
                :modules {:main {:init-fn demo.infinite-scroll-paginated/init}}
                :devtools {:before-load demo.infinite-scroll-paginated/stop
                           :after-load demo.infinite-scroll-paginated/start}}}}
