;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[hoplon/hoplon "7.3.4"]
                [binaryage/devtools "1.0.7"]]
 :dev-http {8000 "public"}
 :builds {:app {:target :browser
                :modules {:main {:init-fn demo.hoplife/init}}
                :devtools {:before-load demo.hoplife/stop
                           :after-load demo.hoplife/start}}}}
