;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[hoplon/hoplon "7.3.3"]
                [binaryage/devtools "1.0.7"]]
 :dev-http {8000 "public"}
 :builds {:app {:target :browser
                :modules {:main {:init-fn demo.validated-form/init}}
                :devtools {:before-load demo.validated-form/stop
                           :after-load demo.validated-form/start}}}}
